.is-needingAuthorization .view-selector-container,
.is-authorized  #embed-api-auth-container,
#reports {
  display: none;
}

.is-authorized .view-selector-container {
  display: block;
}

#header-auth {
  min-height: 5em;
  text-align: center;
}

.chart-container {
  font-size: 20px;
  height: 225px;
  width: 225px;
}

.chart-container td {
  background: transparent;
  border: 0;
}

.kmt-parameter table.data-table tr th[width="10%"] {
  width: 10%;
}

.kmt-parameter table.data-table tr th[width="14%"] {
  width: 14%;
}

.kmt-parameter table.data-table tr th[width="30%"] {
  width: 30%;
}

table.data-table {}
table.data-table caption {}
table.data-table thead tr th {}
table.data-table thead tr th span {}
table.data-table tbody tr td {}
table.data-table tfoot tr td {}

table.data-table tr.data-row-even {}
table.data-table tr.data-row-odd {
  background-color: rgba(200, 200, 200, .2);
}

table.data-table thead tr th.data-cell-text {}
table.data-table tbody tr td.data-cell-text {}
table.data-table tfoot tr td.data-cell-text {}

table.data-table thead tr th.data-cell-date {}
table.data-table tbody tr td.data-cell-date {}
table.data-table tfoot tr td.data-cell-date {}

table.data-table thead tr th.data-cell-bool {}
table.data-table tbody tr td.data-cell-bool {}
table.data-table tfoot tr td.data-cell-bool {}

table.data-table thead tr th.data-cell-number,
table.data-table tbody tr td.data-cell-number,
table.data-table tfoot tr td.data-cell-number {
  text-align: right;
}

table.data-table thead th.data-sort-asc {}
table.data-table thead th.data-sort-desc {}

.data-table .bar {
  white-space: nowrap;
  width: 90%;
}

.data-table .bar span {
  background: #3366BB;
  display: inline-block;
  height: 11px;
  margin-right: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  width: 0;
}
